*.o
*.dSYM
*.csv
*.out
*.png
*.so
*.jpg
*.list
darknet/mnist/
darknet/data/
darknet/caffe/
darknet/grasp/
darknet/images/
darknet/opencv/
darknet/convnet/
darknet/decaf/
darknet/submission/
darknet/cfg/
darknet/build/darknet/*
!darknet/build/darknet/YoloWrapper.cs
.fuse*

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp

# CMake #
cmake-build-debug/
CMakeLists.txt
